@model List<Equipment>

<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Lej Vandsportsudstyr</h2>
            </div>
        </div>
    </div>
</section>

<!-- Start Portfolio Section
        =========================================== -->


<div style="margin:30px;">
    <!-- section title -->
    <div class="title text-center">
        <h2>Find udstyr</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, veritatis. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Minima, vitae?
        </p>
        <div class="border"></div>
    </div>

    <div style="width:30vw; margin-left:auto; margin-right:auto">
        <form action="Index" method="get">
            <div class="form-row">
                <p class="col">
                    Find udstyr ud fra Board-type: <input class="form-control" type="text" name="searchString" value="@ViewData["searchBoardType"]" />
                    <input type="submit" value="Search" class="btn btn-primary form-control"/>
                    <a asp-action="Index">Fuld Liste</a>
                </p>
            </div>
        </form>
    </div>

    <div class="row filtr-container col ">
        <table id="myTable" style="width:100%">
            @foreach (var equipment in Model)
            {
                <tr>
                    <td class="col-4 block">
                        <a href="@Url.Action("Payment", "BorrowEquipment", @equipment)">
                            <img class="img-fluid" src="~/Upload/@equipment.Pictures"
                                 alt="billede af @equipment.BoardType" data-category="mix, Surfboard">
                        </a>
                    </td>

                    <td class="col-2 block">Titel: @equipment.Title</td>
                    <td class="col-2 block">BoardType: @equipment.BoardType</td>
                    <td class="col-1 block">Pris: @equipment.Price</td>
                    <td class="col-1 block">Depos: @equipment.Deposit</td>
                    <td class="col-1 block">Stand: @equipment.Condition</td>
                    <td class="col-1 block">Postnr: @equipment.User.City.PostalCode</td>
                </tr>
            }
        </table>
    </div>

    <div>
        <a href="@Url.Action("Partners", "BorrowEquipment")">
            <p>See what our partners have on offer</p>
        </a>
    </div>
</div>

